{% extends 'blog/base.html' %}

{% block content %}

{% include 'blog/page_header.html' with header_img_url='/static/img/home-bg.jpg' header_title='Cluelessly Parenting' header_subtitle='Winging Parenting' %}

<!-- Main Content -->
{% for post in posts %}
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
                <a href="{% url 'post_detail' pk=post.pk %}">
                      <h2 class="post-title">
                        {{ post.title }}
                      </h2>
                      <h3 class="post-subtitle">
                        {% autoescape on %}
                            <p>{{ post.text|safe }}</p>
                        {% endautoescape %}
                      </h3>
                  </a>
                  <p class="post-meta">Posted by
                      <a href="#">{{ post.author }}</a>
                      on {{ post.published_date }}</p>
              </div>
              <hr>
          </div>
      </div>
  </div>
{% endfor %}
<!-- Pager -->
<div class="clearfix">
  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>
{% endblock %}