{% extends 'blog/base.html' %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
            <span class="meta">Posted by {{ post.author }}
              <!-- <a href="#">Start Bootstrap</a> -->
              on {% if post.published_date %}
              <div class="date">
                  {{ post.published_date }}
              </div>
          {% endif %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% if post.image and post.image.url %}
                <p><img src="{{post.image.url}}" width="500" height="600"></p>
            {% endif %}
            {% autoescape on %}
                <p>{{ post.text|safe }}</p>
            {% endautoescape %}
        </div>
      </div>
    </div>
  </article>

  {% endblock %}